// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  background: center no-repeat fixed var(--bg-ap);
  background-size: cover;
  // overflow: hidden;

  //- responsive font size -//
  & > * {
    font-size: var(--resize);
  }
  .v-main {
    & > * {
      @include media(max, small) {
        font-size: var(--resize-mobile)
      }
    }
  }

  // footer margin modifiable
  & .with {
    padding-block: calc(var(--h-navbar) + 20px) var(--h-footer, 80px) !important
  }
  & .without {
    padding-block: calc(var(--h-navbar) + 20px) 0 !important
  }
}
